/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for goog.ui.Dialog.
 *
 * @author ssaviano@google.com (Steven Saviano)
 * @author attila@google.com (Attila Bodis)
 */


.modal-dialog {
  background: #533825;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #000;
  padding: 4px;
  position: absolute;
  z-index: 20000;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10000;
}

.modal-dialog-title {
  background: #533825;
  color: #F1E6DA;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -moz-border-top-right-radius: 8px;

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

.modal-dialog-buttons {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #F1E6DA;
  padding: 8px;
}

.modal-dialog-content .goog-error-empty, .modal-dialog-content .goog-error-format {
  background-color: #FFE5E5;
}

.modal-dialog table th {
  text-align: left;
}

.modal-dialog table input {
  font-size: 12px;
  width: 300px;
}