.goog-flat-button.addpoint {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 17px;
  top: 118px;
  font-size: 22px;
  color: white;
  background-color: rgb(145, 143, 134);
  text-align: center;
  line-height: 33px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: opacity 0.2s linear 0s;
  opacity: 1;
  z-index: 1000;
  cursor: pointer;
}

.goog-flat-button-hover.addpoint {
  opacity: 0.7;
}

.ac-renderer {
  z-index: 1000000;
}

#georeferencer-imagesearch-find-similar {
  position: absolute;
  right: 10px;
  bottom: 25px;
  z-index: 10000;
}

.imagesearch-result-wrapper {
  display: inline-block;
  margin: 10px;
}

.imagesearch-result-wrapper img {
  width: 300px;
}

#imagesearch-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background-image: url("/img/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFF;
  opacity: 0.7;
}

#imagesearch-dialog {
  width: 98%;
  height: 96%;
}

#imagesearch-dialog .modal-dialog-content {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 40px;
  bottom: 10px;
}

#imagesearch-dialog-container {
  position: absolute;
  overflow-y: auto;
  left: 10px;
  right: 10px;
  top: 40px;
  bottom: 10px;
}