.goog-flat-button.addpoint {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 17px;
  top: 118px;
  font-size: 22px;
  color: white;
  background-color: rgb(145, 143, 134);
  text-align: center;
  line-height: 33px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: opacity 0.2s linear 0s;
  opacity: 1;
  z-index: 1000;
  cursor: pointer;
}

.goog-flat-button-hover.addpoint {
  opacity: 0.7;
}

.ac-renderer {
  z-index: 1000000;
}

#georeferencer-imagesearch-find-similar {
  position: absolute;
  right: 10px;
  bottom: 25px;
  z-index: 99999;
}
