#review {
  width: 1000px;
  margin-left: -500px;
}

#review-form button.passive span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 15px;
  background: url('/img/review-buttons.png') 0 0;
}

#review-form button.active span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 15px;
  background: url('/img/review-buttons.png') -14px 0;
}

#review-form button.error span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 15px;
  background: url('/img/review-buttons.png') -28px 0;
}

#review-form button.loading span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url('/img/ajax-loader-mini.gif');
}

#review-form button.error {
  color: inherit;
}
.separator {
  display: inline-block;
  width: 20px;
}