#review {
  width: 860px;
}

#review-form button.passive span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 15px;
  background: url('/img/review-buttons.png') 0 0;
}

#review-form button.active span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 15px;
  background: url('/img/review-buttons.png') -14px; 0;
}

#review-form button.error span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 15px;
  background: url('/img/review-buttons.png') -28px; 0;
}

#review-form button.error {
  color: inherit;
}
